version: '3'
services:
  prometheus:
    image: quay.io/prometheus/prometheus:v2.14.0
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - 9090:9090

  grafana:
    image: grafana/grafana
    volumes:
      - ./grafana/provisioning:/etc/grafana/provisioning
      - ./grafana/dashboards:/var/lib/grafana/dashboards
    ports:
      - 3000:3000

  origin:
    build:
      dockerfile: docker/Dockerfile
      context: ./..
    image: marselester/capacity
    command: /bin/origin -worker=${ORIGIN_WORKER} -worktime=${ORIGIN_WORKTIME} -queue=${ORIGIN_QUEUE}

  client:
    depends_on:
      - origin
    image: marselester/capacity
    command: /bin/client -worker=${CLIENT_WORKER} -rps=${CLIENT_RPS} -origin=http://origin:8000
